/* -------------------------------- 

Grid Css

-------------------------------- */

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: 20px;
    margin-bottom: 20px
}

.row.reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse
}

.col.reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse
}

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem
}

.col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-1 {
    margin-left: 8.333%
}

.col-xs-offset-2 {
    margin-left: 16.667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.333%
}

.col-xs-offset-5 {
    margin-left: 41.667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.333%
}

.col-xs-offset-8 {
    margin-left: 66.667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.333%
}

.col-xs-offset-11 {
    margin-left: 91.667%
}

.start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center
}

.end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start
}

.middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}

.bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end
}

.around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1
}

.last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1
}

@media only screen and (min-width:48em) {
    .container {
        width: 46rem
    }
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem
    }
    .col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-sm-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%
    }
    .col-sm-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%
    }
    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .col-sm-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%
    }
    .col-sm-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%
    }
    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .col-sm-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%
    }
    .col-sm-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%
    }
    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-sm-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%
    }
    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .col-sm-offset-1 {
        margin-left: 8.333%
    }
    .col-sm-offset-2 {
        margin-left: 16.667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.333%
    }
    .col-sm-offset-5 {
        margin-left: 41.667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.333%
    }
    .col-sm-offset-8 {
        margin-left: 66.667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.333%
    }
    .col-sm-offset-11 {
        margin-left: 91.667%
    }
    .start-sm {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-sm {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-sm {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-sm {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
    .middle-sm {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center
    }
    .bottom-sm {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end
    }
    .around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-sm {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between
    }
    .first-sm {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }
    .last-sm {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
}

@media only screen and (min-width:62em) {
    .container {
        width: 61rem
    }
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem
    }
    .col-md {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-md-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%
    }
    .col-md-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%
    }
    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .col-md-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%
    }
    .col-md-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%
    }
    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .col-md-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%
    }
    .col-md-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%
    }
    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .col-md-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-md-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%
    }
    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .col-md-offset-1 {
        margin-left: 8.333%
    }
    .col-md-offset-2 {
        margin-left: 16.667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.333%
    }
    .col-md-offset-5 {
        margin-left: 41.667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.333%
    }
    .col-md-offset-8 {
        margin-left: 66.667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.333%
    }
    .col-md-offset-11 {
        margin-left: 91.667%
    }
    .start-md {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-md {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-md {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-md {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
    .middle-md {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center
    }
    .bottom-md {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end
    }
    .around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-md {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between
    }
    .first-md {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }
    .last-md {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
}

@media only screen and (min-width:75em) {
    .container {
        width: 71rem
    }
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem
    }
    .col-lg {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-lg-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%
    }
    .col-lg-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%
    }
    .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .col-lg-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%
    }
    .col-lg-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%
    }
    .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .col-lg-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%
    }
    .col-lg-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%
    }
    .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .col-lg-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-lg-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%
    }
    .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .col-lg-offset-1 {
        margin-left: 8.333%
    }
    .col-lg-offset-2 {
        margin-left: 16.667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.333%
    }
    .col-lg-offset-5 {
        margin-left: 41.667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.333%
    }
    .col-lg-offset-8 {
        margin-left: 66.667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.333%
    }
    .col-lg-offset-11 {
        margin-left: 91.667%
    }
    .start-lg {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-lg {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-lg {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-lg {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
    .middle-lg {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center
    }
    .bottom-lg {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end
    }
    .around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-lg {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between
    }
    .first-lg {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1
    }
    .last-lg {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1
    }
}


/* -------------------------------- 

NOrmalize CSS

-------------------------------- */




/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}



/**
   * Remove the margin in all browsers (opinionated).
   */

body {
    margin: 0;
}


/**
   * Add the correct display in IE 9-.
   */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;

}




/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}


/**
   * Add the correct margin in IE 8.
   */

figure {
    margin: 1em 40px;
}


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
    margin: 20px 0px 20px 0px;
    border-top: 1px solid #d8d7d7;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}




/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */

b,
strong {
    font-weight: inherit;
}


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
   * Add the correct font style in Android 4.3-.
   */

dfn {
    font-style: italic;
}


/**
   * Add the correct background and color in IE 9-.
   */

mark {
    background-color: #ff0;
    color: #000;
}


/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}



/**
   * Add the correct display in IE 9-.
   */

audio,
video {
    display: inline-block;
}


/**
   * Add the correct display in iOS 4-7.
   */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
   * Remove the border on images inside links in IE 10-.
   */

img {
    border-style: none;
}


/**
   * Hide the overflow in IE.
   */

svg:not(:root) {
    overflow: hidden;
}




/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    /* 2 */
}


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
   * Remove the default vertical scrollbar in IE.
   */

textarea {
    overflow: auto;
}


/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}




/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */

details,

/* 1 */

menu {
    display: block;
}


/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}





/**
   * Add the correct display in IE 9-.
   */

canvas {
    display: inline-block;
}


/**
   * Add the correct display in IE.
   */

template {
    display: none;
}





/**
   * Add the correct display in IE 10-.
   */

[hidden] {
    display: none;
}


/* -------------------------------- 

Reset CSS

-------------------------------- */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: sub;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    color: #2b3e51;
    background-color: #ffffff;
}

a {
    color: #2c97de;
    text-decoration: none;
}


/* -------------------------------- 

Cleancult Global Styles

-------------------------------- */

h1 {}

h2 {
    color: #407498;
    font-weight: 100;
    height: 40px;
    letter-spacing: 0.9px;
    text-align: left;
    text-decoration: none solid rgb(38, 54, 69);
    width: 300px;
    column-rule-color: rgb(38, 54, 69);
    perspective-origin: 150px 20px;
    transform-origin: 150px 20px;
    caret-color: rgb(38, 54, 69);
    border: 0px none rgb(38, 54, 69);
    font: normal normal 500 normal 28px / 40px brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(38, 54, 69) none 0px;
}

h3 {
    color: #407498;
    font-weight: 100;
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
}

h4 {}

h5 {}

h6 {}


/* -------------------------------- 

Form Styles

-------------------------------- */

.c-form {
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
}

.c-form::after {
    clear: both;
    content: "";
    display: table;
}

.c-form fieldset {
    margin: 24px 0;
    border-radius: 2px;
    padding: 20px;
    background: #F7F7F7;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.c-form div {
    /* form element wrapper */
    position: relative;
}

.c-form h4,
.c-form .c-label {
    font-size: 1.3rem;
    color: #90a1b5;
    margin-bottom: 10px;
}

.c-form .c-label {
    display: block;
}

.c-form .c-label span {
    color: #90a1b5;
    top: 29px;
    display: initial;
    vertical-align: initial;
    bottom: 21px;
    font-size: 12px;
    margin-left: 1px;
}

.c-form input,
.c-form textarea,
.c-form select,
.c-form label {
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    font-size: 1.6rem;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    color: #2b3e51;
    
}

.c-form input[type="text"],
.c-form input[type="email"],
.c-form textarea,
.c-form select,
.c-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.c-form input[type="text"],
.c-form input[type="email"],
.c-form textarea,
.c-form select {
    /* general style for input elements */
    padding: 12px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
}

.c-form input[type="text"]:focus,
.c-form input[type="email"]:focus,
.c-form textarea:focus,
.c-form select:focus {
    outline: none;
    -webkit-transition: all 0.2s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.2s, left 0.1s, font-size 0.1s;
    transition: all 0.2s, left 0.1s, font-size 0.1s;
    border: 1px solid #2b3e51;
}

.c-form input[type="submit"] {
    /* button style */
    border: none;
    background: #2c97de;
    border-radius: .25em;
    padding: 19px 20px;
    color: #ffffff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .c-form input[type="submit"]:hover {
    background: #42a2e1;
}

.c-form input[type="submit"]:focus {
    outline: none;
    background: #2b3e51;
}

.c-form input[type="submit"]:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.c-form legend+div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
}

.c-form input[type="text"],
.c-form input[type="email"],
.c-form textarea,
.c-form select {
    padding: 31px 19px 10px 19px;
    font-weight: 500;
    color: #407498;
}


/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels .c-label {
    position: absolute;
    top: 19px;
    background: transparent;
    text-transform: capitalize !important;
    left: 19px;
    font-size: 1.6rem;
    cursor: text;
    -webkit-transition: all 0.1s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.1s, left 0.1s, font-size 0.1s;
    transition: all 0.1s, left 0.1s, font-size 0.1s;


    bottom: 30px;
    color: rgb(134, 134, 134);
    display: block;
    height: 24px;
    left: 20px;
    letter-spacing: 0.5px;
    pointer-events: none;
    text-decoration: none solid rgb(134, 134, 134);
    column-rule-color: rgb(134, 134, 134);
    caret-color: rgb(134, 134, 134);
    border: 0px none rgb(134, 134, 134);
    font: normal normal 500 normal 13px / 24px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    outline: rgb(134, 134, 134) none 0px;

}

.js .floating-labels .c-label.float {
    /* move label out the input field */
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: capitalize !important;
    -webkit-transition: all 0.1s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.1s, left 0.1s, font-size 0.1s;
    transition: all 0.1s, left 0.1s, font-size 0.1s;
    padding: 2px;
    color: #90a1b5;
    top: 12px;
    left: 17px !important;
    bottom: 30px;
    color: rgb(134, 134, 134);
    display: block;
    height: 24px;
    left: 20px;
    letter-spacing: 0.5px;
    pointer-events: none;
    text-decoration: none solid rgb(134, 134, 134);
    column-rule-color: rgb(134, 134, 134);
    caret-color: rgb(134, 134, 134);
    border: 0px none rgb(134, 134, 134);
    font: normal normal 500 normal 13px / 24px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    outline: rgb(134, 134, 134) none 0px;
}

@media only screen and (min-width: 600px) {
    .js .floating-labels legend+div {
        /* reduce margin-top for first form element after the legend */
        margin-top: 19px;
    }
    .js .floating-labels .c-label {
        top: 22px;
    }
}


/* -------------------------------- 

Nice Select Styles

-------------------------------- */

.nice-select {
    position: relative;
    margin-top: 0px !important;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px 1px #d6d6d6 inset;
    box-shadow: 0px 0px 0px 1px #d6d6d6 inset;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 62px;
    line-height: 50px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:after {
    border-bottom: 2px solid #407498;
    border-right: 2px solid #407498;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
}

.nice-select.disabled {
    border-color: #e7ecf2;
    color: #90a1b5;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cdd5de;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide:focus {
    -webkit-box-shadow: 0px 0px 0px 1px#2b3e51 inset;
    box-shadow: 0px 0px 0px 1px#2b3e51 inset;
}

.nice-select.wide .list {
    left: 0 !important;
    top: 42px;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .current {
    color: #407498;
    font-weight: 500;
}

.nice-select:focus .current {
    color: #90a1b5;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 0px 0px 3px 3px;
    border-left: 1px solid #2b3e51;
    border-right: 1px solid #2b3e51;
    border-bottom: 1px solid #2b3e51;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all 0.1s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.1s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.1s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 500;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f3f3f3;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #90a1b5;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

.error-box {
    position: absolute !important;
    left: 0px;
    right: 0px;
    height: 0px;
    background: #407498;
    width: 3px;
    top: 0px;
    -webkit-transition: all 0.2s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.2s, left 0.1s, font-size 0.1s;
    transition: all 0.2s, left 0.1s, font-size 0.1s;
}

.error {
    height: 65px;
    background: #E34F30 !important;
    -webkit-transition: all 0.2s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.2s, left 0.1s, font-size 0.1s;
    transition: all 0.2s, left 0.1s, font-size 0.1s;
}

.label-error {
    color: #E34F30 !important
}

.has-suggestion {
    padding: 31px 19px 39px 19px !important;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.c-suggestion {
    letter-spacing: 1px;
    position: absolute;
    top: 63px;
    background: transparent;
    left: 19px;
    font-size: 13px !important;
    cursor: text;
    font-weight: 800;
    color: #BFBFBF !important;
    -webkit-transition: all 0.1s, left 0.1s, font-size 0.1s;
    -o-transition: all 0.1s, left 0.1s, font-size 0.1s;
    transition: all 0.1s, left 0.1s, font-size 0.1s;
    font: normal normal 300 normal 13px / 21.2px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
}

.c-suggestion span {
    vertical-align: initial;
    font-weight: 800;
    font: normal normal 300 normal 13px / 21.2px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    color: lightseagreen;
}

/* -------------------------------- 

Check Box Styles

-------------------------------- */

input[type=checkbox] {
    display: none;
}


/* to hide the checkbox itself */

input[type=checkbox]+label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox]+label:before {
    content: "\f096";
}


/* unchecked icon */

input[type=checkbox]+label:before {
    letter-spacing: 10px;
    display: none;
}


/* space between checkbox and label */

input[type=checkbox]:checked+label:before {
    content: "\f046";
}


/* checked icon */

input[type=checkbox]:checked+label:before {
    letter-spacing: 5px;
    display: none;
}


/* Reset Styles */

* {
    outline: none !important;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

body,
img,
span,
ul,
li,
div,
header,
footer,
article,
section {
    padding: 0;
    margin: 0;
    border: 0;
}


/* Main Styles */

input.to-labelauty-icon+label {
    display: inline-block;
    margin-right: 6px;
}

input.to-labelauty-icon+label:last-child {
    margin-right: 0;
}

input.labelauty+label {
    font-size: 11px;
}

input.labelauty+label>span.labelauty-checked-image {
    background-image: url(../images/input-checked.png );
}

input.labelauty.synch-icon+label>span.labelauty-unchecked-image {
    background-image: url(../images/synch-unchecked.png );
}

input.labelauty.synch-icon+label>span.labelauty-checked-image {
    background-image: url(../images/synch-checked.png );
}

input.labelauty.terms-icon+label>span.labelauty-unchecked-image {
    background-image: url(../images/terms-unchecked.png );
}

input.labelauty.terms-icon+label>span.labelauty-checked-image {
    background-image: url(../images/terms-checked.png );
}

input.labelauty.disabled-icon+label>span.labelauty-unchecked-image {
    background-image: url(../images/input-disabled.png );
}

input.labelauty.disabled-icon+label>span.labelauty-checked-image {
    background-image: url(../images/input-disabled.png );
}

.checkbox label {
    float: right !important;
}



.product-listing-header {
    color: rgb(102, 102, 102);
    height: 24px;
    letter-spacing: 2px;
    text-decoration: none solid rgb(102, 102, 102);
    text-transform: uppercase;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 39.5469px 12px;
    transform-origin: 39.5469px 12px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 13px / 24px brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;

}
.product-listing-sub-header {
    color: rgb(134, 134, 134);
    letter-spacing: 0.5px;
    text-decoration: none solid rgb(134, 134, 134);
    column-rule-color: rgb(134, 134, 134);
    perspective-origin: 30.1406px 12px;
    transform-origin: 30.1406px 12px;
    caret-color: rgb(134, 134, 134);
    border: 0px none rgb(134, 134, 134);
    font: normal normal 500 normal 13px / 24px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    outline: rgb(134, 134, 134) none 0px;
}/*#DIV_1*/
.product-listing-sub-header a {
    color: rgb(24, 86, 116);
    letter-spacing: 0.5px;
    text-decoration: underline solid rgb(24, 86, 116);
    column-rule-color: rgb(24, 86, 116);
    caret-color: rgb(24, 86, 116);
    border: 0px none rgb(24, 86, 116);
    font: normal normal 500 normal 16px / 28px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
}/*#DIV_1*/

/* Stolen Shit */
#BUTTON_1 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 51px;
    letter-spacing: 2.56px;
    min-height: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    min-width: 304px;
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 152px 25.5px;
    transform-origin: 152px 25.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(227, 79, 48) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal 700 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 14px 0px;
    transition: background-color 0.2s ease 0s;
}/*#BUTTON_1*/



.quantity-container {
    bottom: 0px;
    color: rgb(146, 146, 146);
    height: 40px;
    left: 0px;
    float: right;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(146, 146, 146);
    top: 0px;
    column-rule-color: rgb(146, 146, 146);
    perspective-origin: 61px 20px;
    transform-origin: 61px 20px;
    caret-color: rgb(146, 146, 146);
    border: 0px none rgb(146, 146, 146);
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    outline: rgb(146, 146, 146) none 0px;
    padding: 0px 36px;
}/*#DIV_4*/

.quantity-left {
    background-position: -99px 0px;
    bottom: -6px;
    color: rgb(146, 146, 146);
    display: block;
    height: 26px;
    left: 0px;
    position: absolute;
    cursor: pointer;
    right: 96px;
    text-decoration: none solid rgb(146, 146, 146);
    top: 20px;
    width: 26px;
    column-rule-color: rgb(146, 146, 146);
    perspective-origin: 13px 13px;
    transform: matrix(1, 0, 0, 1, 0, -13);
    transform-origin: 13px 13px;
    caret-color: rgb(146, 146, 146);
    background: rgba(0, 0, 0, 0) url("https://www.harrys.com/assets/pdp_sprite@2x-6db2dc6468e6ec606f66ef37f8dfb4b6063ef886637928ea3d9356a1e7819b86.png") no-repeat scroll -99px 0px / 239px 80px padding-box border-box;
    border: 0px none rgb(146, 146, 146);
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    outline: rgb(146, 146, 146) none 0px;
}/*#quantity-left*/
.quantity-left:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0) url("https://www.harrys.com/assets/pdp_sprite@2x-6db2dc6468e6ec606f66ef37f8dfb4b6063ef886637928ea3d9356a1e7819b86.png") no-repeat scroll -99px -26px / 239px 80px padding-box border-box;
}/*#SPAN_8*/

.quantity-container input[type="text"] {
    color: rgb(85, 85, 85);
    display: block;
    float: left;
    height: 40px;
    letter-spacing: 1.43px;
    text-align: center;
    text-decoration: none solid rgb(85, 85, 85);
    width: 50px;
    column-rule-color: rgb(85, 85, 85);
    perspective-origin: 25px 20px;
    transform-origin: 25px 20px;
    caret-color: rgb(85, 85, 85);
    border: 1px solid rgb(207, 207, 207);
    font: normal normal 300 normal 13px / 21.2px museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
    padding: 0px;
}/*#INPUT_7*/

.quantity-right {
    background-position: -126px 0px;
    bottom: -6px;
    color: rgb(146, 146, 146);
    display: block;
    height: 26px;
    left: 96px;
    position: absolute;
    cursor: pointer;
    right: 0px;
    text-decoration: none solid rgb(146, 146, 146);
    top: 20px;
    width: 26px;
    column-rule-color: rgb(146, 146, 146);
    perspective-origin: 13px 13px;
    transform: matrix(1, 0, 0, 1, 0, -13);
    transform-origin: 13px 13px;
    caret-color: rgb(146, 146, 146);
    background: rgba(0, 0, 0, 0) url("https://www.harrys.com/assets/pdp_sprite@2x-6db2dc6468e6ec606f66ef37f8dfb4b6063ef886637928ea3d9356a1e7819b86.png") no-repeat scroll -126px 0px / 239px 80px padding-box border-box;
    border: 0px none rgb(146, 146, 146);
    font: normal normal 400 normal 16px / normal brandon-grotesque, "Brandon Grotesque", sans-serif;
    outline: rgb(146, 146, 146) none 0px;
}/*#SPAN_8*/
.quantity-right:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0) url("https://www.harrys.com/assets/pdp_sprite@2x-6db2dc6468e6ec606f66ef37f8dfb4b6063ef886637928ea3d9356a1e7819b86.png") no-repeat scroll -126px -26px / 239px 80px padding-box border-box;
}/*#SPAN_8*/

